* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  width: 100vw;
  z-index: 20;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  color: white;
  font-family: 'Great Vibes', cursive;
  /* NAVBAR MENU */
}

.navbar a {
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

.navbar .nav-links a {
  text-shadow: 0.1em 0.1em 0.1em black;
  color: white;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 40px;
}

.navbar .logo a {
  text-decoration: none;
  color: white;
}

.navbar .logo img {
  height: 40px;
}

.navbar .menu {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Courgette', cursive;
  gap: 1em;
  font-size: 25px;
}

.navbar li {
  padding: 5px 14px;
}

.navbar .menu li:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

header {
  font-family: 'Courgette', cursive;
}

header .heroImg {
  position: relative;
  height: 100vh;
  background-image: url("../img/Kwiaty_polne.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .heroShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

header .heroText {
  text-shadow: 0.1em 0.1em 0.1em black;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .heroText h1 {
  font-size: 60px;
}

header .heroText h2 {
  font-size: 40px;
}

.aboutUs {
  background-color: #504f59;
  color: white;
}

.aboutUs .title {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 3px;
  font-size: 50px;
  color: whitesmoke;
  margin-bottom: 30px;
}

.aboutUs .aboutUsText {
  width: 40%;
  margin: 100px;
  margin-bottom: 20px;
  margin-right: 0;
  height: auto;
}

.aboutUs .aboutUsImg {
  margin-top: 150px;
  margin-right: 50px;
  width: 35%;
  height: 10%;
  border-radius: 8px;
}

.aboutUs .aboutUsContent {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs .aboutFlower {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs .aboutFlower .aboutFlowerText {
  width: 40%;
  margin: 50px;
  margin-top: 20px;
  margin-left: 0;
  height: auto;
}

.aboutUs .aboutFlower .aboutFlowerImg {
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 40px;
  width: 35%;
  height: 10%;
  border-radius: 8px;
}
/*# sourceMappingURL=mainStyle.css.map */